.caja{
  width: 100px;
  height: 100px;
  background-color: #6b7280;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caja-mediana{
  width: 200px;
  height: 200px;
  background-color: crimson;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;  /*base*/
}

.caja-grande{
  width: 300px;
  height: 300px;
  background-color: purple;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.em{
  font-size: 2em;  /*10px  *  2em*/
}

.rem{
  font-size: 2rem;
}

.porcentaje{
  height: 50%;
  width: 50%;
  background-color: aqua;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vh{
  height: 10vh;
  background-color: azure;
}

.vw{
  height: 10vw;
  background-color: azure;
}